img{
    position: static;
    width: 100%;
    height:100%;
   
}
.Flippy{
    height: 50%;
     width:28%; 
     padding: 30px;
}

@media all and (max-width: 768px){
    .Flippy{
        float: none;
        margin: 0 auto;
        width: 70%;
        height: 80%;
    }
}
